body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    max-width: 1024px;
    margin: auto auto;
}
#sub-heading{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 5px gray;
}
.address{
    text-align: center;
}
ul a {
    text-decoration: none;
    color:black;
}
#details>h1::first-letter{
font-size: 2em;
}